name: Run tests

on:
  push:
    branches: ['main']
  pull_request:

jobs:
  test:
    strategy:
      ruby-version: ['3.3', '3.4']

    runs-on: ubuntu-24.04
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v5

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true

      - name: Run tests
        run: |
          bundle exec rake test
